* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-image: url("../images/img1.jpeg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-container, .form-container1 {
    max-width: 40%;
    margin: 10rem auto;
    box-shadow:  .1rem .2rem .5rem .2rem rgba(0,0,0,0.5);
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    background-color: rgba(238, 238, 238, 0.801);
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 2rem;
    /* position: relative; */
}

.input1 i {
    position: absolute;
    left: 15px;
    padding-top: 15px;
    font-size: 2rem;
    color: rgb(216, 216, 216);
}

.input1 {
    position: relative;
}


.space, .type {
    font-size: 2rem;
    padding: 1rem;
    height: 5rem;
    width: 100%;
    outline: none;
    border-radius: 1rem;
    padding-left: 5rem;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: #ffff;
    border: 1px solid forestgreen;
}

.form-group .space:hover {
   background-color: rgb(251, 251, 255);
   /* border-bottom: transparent; */
}
/* 
.form-group .space:invalid {
    border-bottom: 1px solid green;
}

.form-group .space:focus {
    background-color: #ffff;
} */

.learn {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

.btn {
    height: 5rem;
    outline: none;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: forestgreen;
    color: #ffff;
}

.btn:hover {
    background-color: rgb(250, 250, 255);
    color: forestgreen;
    border: 1px solid forestgreen;
}

.btn:active {
    background-color: rgb(202, 199, 199);
    color: grey;
}

.sign {
    font-size: 2rem;
    text-align: right;
    padding-right: 2.5rem;
    margin-top: 3.5rem;
}

.anchor, .anchor1{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffff;
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin-left: 2rem;
    color: black;
    border: 1px solid forestgreen;
}

.anchor1 {
    font-size: 2rem;
    background-color: forestgreen;
    color: white;
    padding: 1.5rem 29rem;
    text-align: center;
    /* margin-left: 3rem; */
    /* margin-right: 3rem; */
}

.anchor1:hover {
    background-color: rgb(220, 220, 226);
    color: forestgreen;
}

.para {
    margin-top: 6rem;
    margin-bottom: 5rem;
    /* padding: 0 3rem; */
    max-width: 750px;
}

.anchor:hover {
    background-color: rgb(251, 251, 255);
}

.anchor:active {
    background-color: rgb(202, 199, 199);
}



/* .anchor1:hover {
    background-color: rgb(251, 251, 255);
} */



.anchor1:active {
    background-color: rgb(202, 199, 199);
}

.form-container1 {
    max-width: 800px;
}

.register {
    font-size: 2rem;
    text-align: center;
}

.student {
    padding: 2rem;
}

.student label {
    font-size: 2rem;
    width: 40%;
    text-transform: uppercase;

}

.student .form-group {
    width: 100%;
    padding-left: 2rem;
}

.label, .input {
    float: left;
    line-height: 5rem;
    /* width: 50%; */
}

.label {
    width: 40%;
    text-align: start;
    padding-right: 4rem;
}

.input {
    width: 60%;
    position: relative;
}

.input i {
    position: absolute;
    left: 15px;
    padding-top: 15px;
    font-size: 2rem;
    color: rgb(216, 216, 216);
}

.type {
    width: 89%;
    /* font-size: 3rem; */
}

select {
    width: 29%;
    height: 3rem;
    font-size: 2rem;
    padding-right: 3rem;
    outline: none;
    font-weight: lighter;
    border-radius: 1rem;
    border: none;
}

.radio {
     height: 3rem; 
    font-size: 3rem;
}

span {
    font-size: 2rem;
    padding-right: 5rem;
} 

.fill, .fill1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


.form-container1 .type:hover {
    background-color: rgb(251, 251, 255);
 }

 .label1 {
     margin: 3rem 0;
     padding-left: 2rem;
 }

 .input2 {
    padding-left: 3rem;
    margin-top: 4rem;
 }

 .input3 {
     margin-top: 3rem;
     margin-left: 0;
 }

 .form {
     font-size: 2rem;
     text-transform: uppercase;
 }

 .pan {
     text-transform: capitalize;
 }

 .level {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffff;
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: black;
    font-size: 2rem;
    border: 1px solid forestgreen;
 }

 .level:hover {
    background-color: rgb(251, 251, 255);
 }

 .level:active {
    background-color: rgb(202, 199, 199);
 }

 ul li {
     list-style-type: none;
 }

 li, .level {
     float: left;
     /* width: 100%; */
 }

 .list li {
    list-style-type: none;
 }


 .study {
     font-size: 4rem;
     text-transform: uppercase;
     text-align: center;
 }

 .select {
     font-size: 2rem;
     text-align: center;
    /* text-transform: lowercase; */
 }

 .first, .second {
     font-size: 2rem;
     text-transform: uppercase;
     padding-top: 3rem;
     padding-left: 4rem;
 }

 .quiz {
     text-align: center;
     font-size: 5rem;
     text-transform: capitalize;
 }

 .form-acc, .acc-name {
     float: left;
     /* width: 50%; */
     /* padding-left: 2rem; */
     padding-bottom: 3rem;
 }

 .code {
    font-size: 2rem;
    text-transform: capitalize;
 }

 .form-acc {
     width: 70%;

    padding-left: 31rem;
 }

 .acc-name {
    width: 30%;
    padding-left: 1rem;
 }

 .none {
     background-image: none;
     background-color: rgb(251, 251, 255);
 }

 .para1 {
     
    margin-top: 8rem;
    margin-bottom: 5rem;
    /* max-width: 1200rem; */
    padding-left: 29rem;
 }

 .answer {
     text-align: center;
     color: blue;
     /* padding-top: 2rem; */
 }
 
 .all {
     padding-right: 8rem;
     font-size: 2rem;
 }

 .all1 {
     padding-right: 16rem;
     font-size: 2rem;
 }

 .ion {
     padding-right: 47rem;
     color: black;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 3rem;
 }

 .anc {
     padding: 1.5rem 37rem;
 }

 .image-container {
     width: 100%;
 }

 img {
     width: 20rem;
     height: 20rem;
     display: block;
 }

 .color {
     /* color: gold; */
     font-weight: bold;
     font-size: 2.5rem;
 }

 .form-left, .form-right {
     float: left;
     /* width: 50%; */
 }

 .form-left {
     /* padding-left: 1rem; */
     width: 60%;
 }

 .form-right {
     width: 40%;
     padding-left: rem;
     text-align: right;
 }

 .para-left, .para-right {
     float: left;
     width: 50%;
 }

 .para-left {
     padding-left: 10rem;
 }

 .para-right {
     padding-left: 3rem;
 }

 .yes1 {
     margin-top: 5rem;
     margin-bottom: 3rem;
 }

 .sure {
     text-align: center;
     font-size: 2.5rem;
 }

 .yes {
     font-size: 2rem;
     text-decoration: none;
     list-style-type: none;
     text-transform: uppercase;
     background-color: forestgreen;
     padding: 1.5rem 5rem;
     color: whitesmoke;
     border-radius: 1.5rem;
 }

 .code1 {
     font-size: 2.5rem;
     color: blue;
     font-weight: bold;
 }

 .one {
     padding-left: 2rem;
 }

 .one1, .question-container {
    float: left;
    /* width: 50%; */
 }

 .one1 {
     width: 25%;
 }

 .question-container {
     width: 75%;
 }

 .li1, .green {
     float: left;
     width: 20%;
 }

 .green {
     /* list-style-type: none; */
     text-decoration: none;
     color: black;
     background-color: green;
     padding: 1rem 2rem;
     margin-right: 1rem;
     font-weight: bold;
     margin-bottom: 1rem;
     /* text-align: center; */
     font-size: 1.5rem;
     border-radius: .5rem;
 }

 .question-center, .question-right {
     float: left;
     width: 50%;
 }


.clearfix::after {
    clear: both;
    display: block;
    content: "";
}



@media only screen and (max-width: 425px) {
    .sign {
        padding-right: 0;
    }


    .form-container, .form-container1 {
        max-width: 100%;
    }

    .form-container {
        border-radius: 0;
        margin: auto;
        padding-bottom: 13.8rem;
        padding-top: 4rem;
    }

    .learn {
        font-size: 3rem;
    }

    .student label {
        font-size: 1.5rem;
    }

    .label {
        width: 45%;
        padding-right: 0;
    }

    .label1 {
        margin-bottom: 3rem;
        margin-top: 6rem;

    }

    .student {
        padding: 2rem 0;
    }

    .form-container1 {
        margin: 0 auto;
        border-radius: 0;
    }

    .student .form-group {
        padding-left: 0;
    }

    .input {
        width: 55%;
    }

    .type {
        font-size: 1.5rem;
        width: 100%;
        border-radius: 1rem;
    }

    .input i {
        font-size: 1.5rem;
    }

    .fill, .fill1 {
        font-size: 2rem;
        padding-top: 2rem;
        margin-bottom: 0;
    }

    .fill1 {
        font-size: 2.5rem;
    }

    .para {
        margin-top: 4rem;
    }

    .anchor1 {
        font-size: 1.8rem;
        padding: 1rem 14.5rem;
    }

    .anchor {
        padding: 1rem 2rem;
    }

    .form {
        font-size: 1.8rem;
    }

    span {
        font-size: 1.6rem;
        padding-right: 2rem;
    }

    .input2 {
        margin-top: 0;
        padding-left: 1.5rem;
    }

    ul li {
        margin-bottom: 2rem;
    }

    ul {
        padding-left: 0;
    }


    .study {
        font-size: 3rem;
    }

    .select {
        font-size: 2rem;
    }

    .para1 {
        max-width: 600rem;
        padding-left: 0;
     }

     
    .form-acc {
        padding-left: 2rem;
        width: 60%;
    
    }

    
    .acc-name {
        width: 40%;
        padding-left: 1rem;
    }

    
}