* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.form-container, .form-container1 {
    max-width: 40%;
    margin: 10rem auto;
    box-shadow:  0 .1rem .5rem 0 rgba(0,0,0,0.5);
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    background-color: #eee;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 2rem;
    /* position: relative; */
}

.input1 i {
    position: absolute;
    left: 15px;
    padding-top: 15px;
    font-size: 2rem;
    color: rgb(216, 216, 216);
}

.input1 {
    position: relative;
}


.space, .type {
    font-size: 2rem;
    padding: 1rem;
    height: 5rem;
    width: 100%;
    outline: none;
    border-radius: 1rem;
    padding-left: 5rem;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: #ffff;
}

.form-group .space:hover {
   background-color: rgb(251, 251, 255);
   /* border-bottom: transparent; */
}
/* 
.form-group .space:invalid {
    border-bottom: 1px solid green;
}

.form-group .space:focus {
    background-color: #ffff;
} */

.learn {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

.btn {
    height: 5rem;
    outline: none;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #ffff;
}

.btn:hover {
    background-color: rgb(251, 251, 255);
}

.btn:active {
    background-color: rgb(202, 199, 199);
}

.sign {
    font-size: 2rem;
    text-align: right;
    padding-right: 2.5rem;
    margin-top: 3.5rem;
}

.anchor {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffff;
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin-left: 2rem;
    color: black;
}

.anchor:hover {
    background-color: rgb(251, 251, 255);
}

.anchor:active {
    background-color: rgb(202, 199, 199);
}

/* .icon {
    position: absolute;
    top: 9px;
    padding: 4px;
    height: 3rem;
}


.icon-eye {
    right: 9px;
}

.icon, .form-conatainer input {
    display: inline-block;
} */








.form-container1 {
    max-width: 800px;
}

.register {
    font-size: 2rem;
    text-align: center;
}

.student {
    padding: 2rem;
}

.student label {
    font-size: 2rem;
    width: 40%;
    text-transform: uppercase;

}

.student .form-group {
    width: 100%;
    padding-left: 2rem;
}

.label, .input {
    float: left;
    line-height: 5rem;
    /* width: 50%; */
}

.label {
    width: 40%;
    text-align: right;
    padding-right: 4rem;
}

.input {
    width: 60%;
    position: relative;
}

.input i {
    position: absolute;
    left: 15px;
    padding-top: 15px;
    font-size: 2rem;
    color: rgb(216, 216, 216);
}

.type {
    width: 89%;
    /* font-size: 3rem; */
}

select {
    width: 29%;
    height: 3rem;
    font-size: 2rem;
    padding-right: 3rem;
    outline: none;
    font-weight: lighter;
    border-radius: 1rem;
    border: none;
}

.radio {
     height: 3rem; 
    font-size: 3rem;
}

span {
    font-size: 2rem;
    padding-right: 5rem;
} 

.fill {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.btn-tertiary {
    width: 90%;
    margin: 2rem 3rem;
    text-align: center;
}

.form-container1 .type:hover {
    background-color: rgb(251, 251, 255);
    /* border-bottom: transparent; */
 }

.clearfix::after {
    clear: both;
    display: block;
    content: "";
}